<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWchat create</title>
</head>
<body>
    <h1>Write your new chat....</h1>
    <form method="post" action="/chats">
    <input placeholder="who are you ? " name="send"/>
    <br><br>
    <textarea placeholder="please enter your msg" name="msg"></textarea>
    <br><br>
    <input placeholder="who are you ?" name="to"/ >
    <br><br>
    <button>submit</button>
    </form>
</body>
</html>